.movie-description-box {
	grid-row: 3/11;
	grid-column: 2/6;
	background: linear-gradient(rgba(20, 20, 20, 0.897), rgba(17, 17, 17, 0.896)),
		url(../../Assets/assets/userbg.jpg);
	background-size: cover;
	border-radius: 4px;
	color: rgb(235, 235, 235);
	border: 2px solid #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);

	img {
		height: 200px;
		margin-bottom: 20px;
	}

	p {
		margin: 10px;
	}
}

.trailer-link {
	color: rgb(240, 95, 51);
	text-decoration-line: underline;

	&:hover {
		color: rgb(243, 134, 97);
	}
}
