.user-box {
	display: flex;
	align-items: center;
	border: 2px solid #333;
	justify-content: space-between;
	background: linear-gradient(rgba(20, 20, 20, 0.897), rgba(17, 17, 17, 0.896)),
		url(../../Assets/assets/userbg.jpg);
	background-size: cover;
	background-position: center;
	grid-column: 2/6;
	grid-row: 1/3;
	border-radius: 4px;
	padding: 1em 2em;
	color: rgb(235, 235, 235);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 5px 0;
	}
}

.user-box-percentage {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(235, 235, 235);
	text-align: center;

	p {
		margin: 0;
		padding: 0px;
		font-size: 1.23rem;
		font-weight: 900;
		text-shadow: 2px 2px 5px rgb(0, 0, 0);

		&:last-child {
			font-size: 3rem;
		}
	}
}

.user-box-data {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;

	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	h1 {
		font-size: 2rem;
		padding: 0;
	}
}

.orange {
	color: rgb(240, 95, 51);
}
