.user-box {
	display: flex;
	align-items: center;
	border: 2px solid #333;
	justify-content: space-between;
	background-color: rgba(68, 68, 68, 0.288);
	grid-column: 2/6;
	grid-row: 1/4;
	border-radius: 4px;
	padding: 1em 2em;
	color: rgb(235, 235, 235);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 5px 0;
	}
}

.user-box-percentage {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(235, 235, 235);

	p {
		margin: 0;
		padding: 5px;
		font-size: 1.5rem;
		font-weight: 900;
		text-shadow: 2px 2px 5px rgb(0, 0, 0);

		&:last-child {
			font-size: 3rem;
		}
	}
}

.user-box-data {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	h1 {
		font-size: 2.5rem;
	}
}

.orange {
	color: rgb(240, 95, 51);
}
