.header {
	background: rgba(0, 0, 0, 0.767);
	width: 100%;
	color: rgb(223, 223, 223);
	height: 50px;
	font-family: "Merriweather", serif;
}

.header-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-size: 1.6rem;
	&:hover {
		color: #fff;
	}
}

.header-nav {
	list-style: none;
}

.header-li:hover {
	color: #fff;
}
