.header {
	background: rgb(0, 0, 0);
	width: 100%;
	color: rgb(223, 223, 223);
	height: 50px;
	font-family: "Merriweather", serif;
	position: fixed;
	z-index: 999;
}

.header-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	background-image: url("../../Assets/assets/smallLogo.png.png");
	background-size: cover;
	font-size: 1.6rem;
	width: 275px;
	height: 90%;

	&:hover {
		color: #fff;
	}
}

.header-nav {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 15%;
}

.header-li:hover {
	color: #fff;
}

@media (max-width: 500px) {
	.header-logo {
		font-size: 1rem;
	}

	.header-li {
		font-size: 0.8rem;
	}

	.header-container {
		width: 97%;
		padding-right: 10px;
	}
}
