.footer {
	width: 100%;
	background-color: #000;
	height: 50px;
	margin-top: 1rem;
}

.footer-container {
	max-width: 100%;
	width: 60%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Merriweather", serif;
	font-size: 0.8rem;

	a:hover {
		color: rgb(240, 95, 51);
	}
}
